* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(background.png);
    background-color: rgb(67, 86, 108);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}


h3 {
    font-family: 'Roboto Mono', monospace;
}

p {
    color: rgb(27, 27, 27);
    font-family: 'Roboto Mono', monospace;
}

p {
    font-style: italic;
}

header {
    font-weight: 500;
    font-size: 24px;
    text-align: left;
    display: block;
    width: 80%;
    padding: 5vh 0 0 50px;
}

.message {
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    margin: 0;
    padding: 50px 0 50px 5px;
}

nav {
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    display: block;
    width: 80%;
    margin: auto;
    padding: 0 100px 10px 0px;
}

.menu li {
    display: inline;
    list-style-type: none;
    text-align: center;
    margin: 0px 15px;
    padding: 0px 10px;
    background-color: rgb(188, 169, 147);
    box-shadow: rgb(42, 42, 42) 5px 5px
}

#menu li:hover {
    box-shadow: rgb(255, 81, 0) 5px 5px
}

a:link,
a:visited {
    color: rgb(27, 27, 27);
    text-decoration: none;
}

a:hover {
    color: rgb(255, 81, 0);
}

.avatar img {
    display: block;
    border: rgb(27, 27, 27) 3px solid;
    margin: 75px auto;
    box-shadow: rgb(42, 42, 42) 5px 5px;
}

.avatar p {
    display: block;
    text-align: center;
    font-size: 12px;
    margin: -60px auto;
}

.avatar img:hover {
    box-shadow: rgb(255, 81, 0) 5px 5px
}

#at {
    color: rgb(188, 169, 147);
}

@media only screen and (max-device-width: 480px) {

    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    header {
        width: 100%;
        padding: 5% 0 0 0;
    }

    header h3 {
        font-size: 38px;
        text-align: center;
        background-color: rgb(255, 81, 0)
    }

    .message {
        padding: 0;
        margin: 10% 0 10% 0;
    }

    .message p {
        padding: 0;
        margin: 0 15%;
        font-size: 14px;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        text-shadow: 1px 1px rgb(42, 42, 42);
    }

    .message p:hover {
        text-shadow: 1px 1px rgb(255, 81, 0);
    }

    nav {
        padding: 0 3%;
        margin: 10% 0;
        width: 100%;
    }

    .menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }

    .menu li {
        padding: 0 5px;
        margin: 10px 10px;
    }

    .avatar {
        display: flexbox;
        padding: 0;
        margin: 0 10px;
    }

    .avatar img {
        padding: 0;
        margin: 10px auto;
        width: 70%;
        animation-name: pulse-border;
        animation-delay: 3s;
        animation-duration: 5s;
        animation-iteration-count: infinite;
    }

    .avatar p {
        margin: 50px 0;
        padding: 10px;
    }
}

@keyframes pulse-border {
    0% {
        box-shadow: rgb(42, 42, 42) 5px 5px
    }

    50% {
        box-shadow: rgb(255, 81, 0) 5px 5px
    }

    100% {
        box-shadow: rgb(42, 42, 42) 5px 5px
    }
}